includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - app
        - routes

    excludePaths:
        - vendor
        - storage
        - tests
        - bootstrap/cache
        - _ide_helper.php

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    # If you're using Laravel facades or magic methods
    scanFiles:
        - bootstrap/app.php
